<div id="main" class="clearfix container-fluid main-container full-sidebar">
    <div class="row row-offcanvas row-offcanvas-left" data-sticky-wrap="" style="min-height: 647px;">
        <div class="col-md-3 col-lg-2 sidebar sidebar-offcanvas forum-sidebar" id="sidebar">
        <ul class="side-nav list-unstyled">
        <li class="header">
        <a id="menu-toggle" href="#">
        Forums <span class="forum-sidebar-main-icon fa fa-align-justify tooltipster" data-placement="right" title="" data-original-title="Toggle Menu"></span>
        </a>
        </li>
        <li class="subheader hide-on-collapse">
        Characters &amp; RP
        <span class="forum-sidebar-sub-icon fa fa-th-list tooltipster" data-placement="right" title="" data-original-title="Characters &amp; RP"></span>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Character Discussion
        <span class="forum-sidebar-sub-icon fa fa-user-circle tooltipster" data-placement="right" title="" data-original-title="Character Discussion"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Species Discussion
        <span class="forum-sidebar-sub-icon fa fa-users tooltipster" data-placement="right" title="" data-original-title="Species Discussion"></span>
        </a>
        </li>
         <li class=" hide-on-collapse">
        <a href="#">
        Worlds
        <span class="forum-sidebar-sub-icon fa fa-globe tooltipster" data-placement="right" title="" data-original-title="Worlds"></span>
        </a>
        </li>
        <li class="subheader hide-on-collapse">
        Commerce
        <span class="forum-sidebar-sub-icon fa fa-th-list tooltipster" data-placement="right" title="" data-original-title="Commerce"></span>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Art Marketplace
        <span class="forum-sidebar-sub-icon fa fa-paint-brush tooltipster" data-placement="right" title="" data-original-title="Art Marketplace"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Design Marketplace
        <span class="forum-sidebar-sub-icon fa fa-gift tooltipster" data-placement="right" title="" data-original-title="Design Marketplace"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Adoption Center
        <span class="forum-sidebar-sub-icon fa fa-exchange tooltipster" data-placement="right" title="" data-original-title="Adoption Center"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Service Reviews
        <span class="forum-sidebar-sub-icon far fa-star-half tooltipster" data-placement="right" title="" data-original-title="Service Reviews"></span>
        </a>
        </li>
        <li class="subheader hide-on-collapse">
        Creative
        <span class="forum-sidebar-sub-icon fa fa-th-list tooltipster" data-placement="right" title="" data-original-title="Creative"></span>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Creator's Corner
        <span class="forum-sidebar-sub-icon fa fa-comment tooltipster" data-placement="right" title="" data-original-title="Creator's Corner"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        HTML/CSS &amp; Graphics
        <span class="forum-sidebar-sub-icon fa fa-code tooltipster" data-placement="right" title="" data-original-title="HTML/CSS &amp; Graphics"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Art Freebies
        <span class="forum-sidebar-sub-icon far fa-heart tooltipster" data-placement="right" title="" data-original-title="Art Freebies"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Art Trades
        <span class="forum-sidebar-sub-icon fa fa-comment tooltipster" data-placement="right" title="" data-original-title="Art Trades"></span>
        </a>
        </li>
        <li class="subheader hide-on-collapse">
        Forum Games
        <span class="forum-sidebar-sub-icon fa fa-th-list tooltipster" data-placement="right" title="" data-original-title="Forum Games"></span>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Art Games
        <span class="forum-sidebar-sub-icon fa fa-coffee tooltipster" data-placement="right" title="" data-original-title="Art Games"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Character Games &amp; Freebies
        <span class="forum-sidebar-sub-icon fa fa-comment tooltipster" data-placement="right" title="" data-original-title="Character Games &amp; Freebies"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Forum Games
        <span class="forum-sidebar-sub-icon fa fa-coffee tooltipster" data-placement="right" title="" data-original-title="Forum Games"></span>
        </a>
        </li>
        <li class="subheader hide-on-collapse">
        General &amp; Site
        <span class="forum-sidebar-sub-icon fa fa-th-list tooltipster" data-placement="right" title="" data-original-title="General &amp; Site"></span>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Announcements
        <span class="forum-sidebar-sub-icon fa fa-bullhorn tooltipster" data-placement="right" title="" data-original-title="Announcements"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        General &amp; Off-Topic
        <span class="forum-sidebar-sub-icon far fa-comment-dots tooltipster" data-placement="right" title="" data-original-title="General &amp; Off-Topic"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Help &amp; Questions
        <span class="forum-sidebar-sub-icon fa fa-comment tooltipster" data-placement="right" title="" data-original-title="Help &amp; Questions"></span>
        </a>
        </li>
        <li class=" hide-on-collapse">
        <a href="#">
        Suggestions &amp; Bugs
        <span class="forum-sidebar-sub-icon fa fa-bug tooltipster" data-placement="right" title="" data-original-title="Suggestions &amp; Bugs"></span>
        </a>
        </li>
        <li class="subheader hide-on-collapse">
        Tools
        <span class="forum-sidebar-sub-icon fa fa-cog tooltipster" data-placement="right" title="" data-original-title="Tools"></span>
        </li>
        <li class="">
        <a href="#">
        Recent Activity
        <span class="forum-sidebar-sub-icon far fa-clock tooltipster" data-placement="right" title="" data-original-title="Recent Activity"></span>
        </a>
        </li>
        <li class="">
        <a href="#">
        Subscriptions
        <span class="forum-sidebar-sub-icon fa fa-star tooltipster" data-placement="right" title="" data-original-title="Subscriptions"></span>
        </a>
        </li>
        <li class="">
        <a href="#">
        My Threads
        <span class="forum-sidebar-sub-icon fa fa-reply tooltipster" data-placement="right" title="" data-original-title="My Threads"></span>
        </a>
        </li>
        <li class="">
        <a href="#">
        My Posts
        <span class="forum-sidebar-sub-icon fa fa-reply-all tooltipster" data-placement="right" title="" data-original-title="My Posts"></span>
        </a>
        </li>
        </ul>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 content-main" id="content">
            <ul class="breadcrumb profanity-filter">
            <li class="breadcrumb-item">
            <a href="#"><span>Forums</span></a> </li>
            <li class="breadcrumb-item">
            <a href="#"><span>Forum Name</span></a> </li>
            <li class="breadcrumb-item">
            <span>Thread Placeholder Title</span> </li>
            </ul>
            <div class="thread-wrapper">
            <div class="thread-content">
            <div class="thread-header"> 
                <div class="thread-header-content row">
                    <div class="thread-header-avatar col-sm-2 col-5">
                        <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6" class="thread-avatar">
                    </div>
                    <div class="thread-caption col-sm-10 col-12">
                        <h1 class="thread-title">
                        <a href="#">Thread Placeholder Title</a>
                        </h1>
                        <div class="small thread-author">
                            Posted <abbr class="tooltipster datetime" title="" data-original-title="1 Jan 1900, 0:00:00 am">0 days, 0 hours ago</abbr> by
                            <span class="thread-user-badge"><a href="#" class="btn btn-sm btn-default user-name-badge"><i class="fi-torso user-name-icon"></i>User</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thread-post">
                <div class="card">
                    <div class="card-block bg-faded fr-view ace-code-container">
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>