<div id="main" class="clearfix container-fluid main-container full-sidebar">
<div class="row row-offcanvas row-offcanvas-left" data-sticky-wrap="" style="min-height: 100%;">
    <div class="col-md-3 col-lg-2 sidebar sidebar-offcanvas" id="sidebar">
        <ul class="side-nav list-unstyled">
        <li class="header"><i class="fi-torso header-icon"></i>User</li>
        <li><span class="display-user"><a href="#"><img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6?0" class="display-user-avatar"><span class="display-user-username">User</span></a></span></li>
        <li class="divider sidebar-divider-username"></li>
        <li class=" sidebar-li-bulletins">
        <a href="#">
        <i class="far fa-newspaper fa-fw sidebar-icon"></i>Bulletins
        </a>
        </li>
        <li class=" sidebar-li-characters">
        <a href="#">
        <i class="fa fa-users fa-fw sidebar-icon"></i>Characters
        </a>
        </li>
        <li class=" sidebar-li-links">
        <a href="#">
        <i class="fa fa-link fa-fw sidebar-icon"></i>Links
        </a>
        </li>
        <li class=" sidebar-li-worlds">
        <a href="#">
        <i class="fa fa-globe fa-fw sidebar-icon"></i>Worlds
        </a>
        </li>
        <li class=" sidebar-li-favorites">
        <a href="#">
        <i class="fa fa-star fa-fw sidebar-icon"></i>Favorites
        </a>
        </li>
        <li class="divider sidebar-divider-collections"></li>
        <li class=" sidebar-li-created">
        <a href="#">
        <i class="fa fa-palette fa-fw sidebar-icon"></i>Designs
        </a>
        </li>
        <li class=" sidebar-li-art">
        <a href="#">
        <i class="fa fa-paint-brush fa-fw sidebar-icon"></i>Art
        </a>
        </li>
        <li class=" sidebar-li-literatures">
        <a href="#">
        <i class="fa fa-book fa-fw sidebar-icon"></i>Library
        </a>
        </li>
        <li class="divider sidebar-divider-stats"></li>
        <li class=" sidebar-li-comments">
        <a href="#">
        <i class="fa fa-comment fa-fw sidebar-icon"></i>0 Comments
        </a>
        </li>
        <li class=" sidebar-li-stats">
        <a href="#">
        <i class="fa fa-chart-bar fa-fw sidebar-icon"></i>Stats
        </a>
        </li>
        </ul>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 content-main" id="content">
            <div class="character-profile">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile-section profile-content-section user-content fr-view">
                            <div class="profile-content-content user-content fr-view ace-code-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>