::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
}

#loader {
    top: 0;
    left: 0;
    transition: 0.2s opacity linear;
    z-index: 300;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

#noconflict-info {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 270;
    background: grey;
    background: rgba(0,0,0,0.5);
}

#noconflict-info > .card {
    position: fixed;
    width: 80%;
    height: auto;
    max-height: 80%;
    top: 10%;
    left: 10%;
}

#noconflict-info > .card > .card-block {
    padding: 40px;
    overflow: auto;
}

#changelog, #issues {
    text-align: left;
}

#changelog p:last-child, #issues p:last-child {
    margin: 0;
}

#PM {
    width: 100%;
    height: 200px;
}



#options:hover, #info-button:hover {
    opacity: 1;
}

#options {
    right: 20px;
}

#info-button {
    left: 20px;
}

#noconflict-main {
    width: 100%;
}

#editor { 
    position: absolute;
    z-index: 200;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: black;
}

#html-editor {
    height: calc(100% - 50px);
    width: 50%;
    float: left;
}

#css-editor {
    height: calc(100% - 50px);
    width: 50%;
    float: right;
}

#adjustbar {
    cursor: ns-resize;
    width: 100%;
    height: 8px;
    background-color: grey;
    position: absolute;
    bottom: 45%;
    z-index: 80;
}

#footer {
    box-sizing: border-box;
    padding: 5px 10px;
    position: absolute;
    font-size: 12pt;
    z-index: 60;
    width: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer span {
    margin-right: 1em;
}

.footer-inner {
}

.disclaimer {
    flex-grow: 1;
}

.update-btn {
    display: inline-block;
}

#show {
    width: 100%;
    height: 54.5%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

.invisible {
    opacity: 0;
}