<div id="main" class="clearfix container-fluid main-container full-sidebar">
    <div class="row row-offcanvas row-offcanvas-left" data-sticky-wrap>
        <div class="col-md-3 col-lg-2 sidebar sidebar-offcanvas" id="sidebar">
            <ul class="side-nav list-unstyled">
                <li class="header"><i class="fi-torso header-icon"></i>User</li>
                <li><span class="display-user"><a href="#"><img
                                src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?0"
                                class="display-user-avatar" /><span class="display-user-username">User</span></a></span>
                </li>
                <li class="blurb user-content fr-view ace-code-container-2">
                </li>
                <li class="divider sidebar-divider-username"></li>
                <li class=" sidebar-li-bulletins">
                    <a href="#">
                        <i class="far fa-newspaper fa-fw sidebar-icon"></i>Bulletins
                    </a>
                </li>
                <li class=" sidebar-li-characters">
                    <a href="#">
                        <i class="fa fa-users fa-fw sidebar-icon"></i>Characters
                    </a>
                </li>
                <li class=" sidebar-li-links">
                    <a href="#">
                        <i class="fa fa-link fa-fw sidebar-icon"></i>Links
                    </a>
                </li>
                <li class=" sidebar-li-worlds">
                    <a href="#">
                        <i class="fa fa-globe fa-fw sidebar-icon"></i>Worlds
                    </a>
                </li>
                <li class=" sidebar-li-favorites">
                    <a href="#">
                        <i class="fa fa-star fa-fw sidebar-icon"></i>Favorites
                    </a>
                </li>
                <li class="divider sidebar-divider-collections"></li>
                <li class=" sidebar-li-created">
                    <a href="#">
                        <i class="fa fa-palette fa-fw sidebar-icon"></i>Designs
                    </a>
                </li>
                <li class=" sidebar-li-art">
                    <a href="#">
                        <i class="fa fa-paint-brush fa-fw sidebar-icon"></i>Art
                    </a>
                </li>
                <li class=" sidebar-li-literatures">
                    <a href="#">
                        <i class="fa fa-book fa-fw sidebar-icon"></i>Library
                    </a>
                </li>
                <li class="divider sidebar-divider-stats"></li>
                <li class=" sidebar-li-comments">
                    <a href="#">
                        <i class="fa fa-comment fa-fw sidebar-icon"></i>79 Comments
                    </a>
                </li>
                <li class=" sidebar-li-stats">
                    <a href="#">
                        <i class="fa fa-chart-bar fa-fw sidebar-icon"></i>Stats
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 content-main" id="content">
            <div class="user-bulletins">
                <div class="bulletin-wrapper">

                    <div class="bulletin-header">
                        <div class="bulletin-header-content row">
                            <div class="bulletin-header-avatar col-sm-2 col-5">
                                <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?0"
                                    class="bulletin-avatar" />
                            </div>
                            <div class="bulletin-caption col-sm-10 col-12">
                                <h1 class="bulletin-title">
                                    <a href="#"> <i class="fa fa-chart-pie mr-1"></i> Bulletin title</a>
                                </h1>
                                <div class="small bulletin-author">
                                    Posted
                                    <span class="bulletin-time"><abbr class="tooltipster datetime" data-toggle="tooltip"
                                            title="1 Jan 1900, 0:00:00 am">0 years, 0 months ago</abbr></span>
                                    by
                                    <span class="bulletin-user-badge"><a href="#"
                                            class="btn btn-sm btn-default user-name-badge"><i
                                                class="fi-star user-name-icon"></i>User</a></span>
                                    <div class="bulletin-controls">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bulletin-content card">
                        <div class="card-block bg-faded">
                            <div class="bulletin-post user-content fr-view ace-code-container">
                            </div>
                            <div class="bulletin-footer">
                                <a href="#" class="bulletin-comment-count btn btn-sm btn-default">0 Comments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>