<div id="main" class="clearfix container-fluid main-container full-sidebar">
<div class="row row-offcanvas row-offcanvas-left" data-sticky-wrap="" style="min-height: 647px;">
<div class="col-md-3 col-lg-2 sidebar sidebar-offcanvas" id="sidebar">
<ul class="side-nav list-unstyled">
<li class="header"><i class="fi-torso header-icon"></i>User</li>
<li><span class="display-user"><a href="#"><img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6" class="display-user-avatar"><span class="display-user-username">User</span></a></span></li>

<li class="blurb user-content fr-view ace-code-container-2">
</li>

<li class="divider sidebar-divider-username"></li>
<li class=" sidebar-li-bulletins">
<a href="#">
<i class="far fa-newspaper fa-fw sidebar-icon"></i>Bulletins
</a>
</li>
<li class="active sidebar-li-characters">
<a href="#">
<i class="fa fa-users fa-fw sidebar-icon"></i>Characters
</a>
</li>
<li class=" sidebar-li-links">
<a href="#">
<i class="fa fa-link fa-fw sidebar-icon"></i>Links
</a>
</li>
<li class=" sidebar-li-worlds">
<a href="#">
<i class="fa fa-globe fa-fw sidebar-icon"></i>Worlds
</a>
</li>
<li class=" sidebar-li-favorites">
<a href="#">
<i class="fa fa-star fa-fw sidebar-icon"></i>Favorites
</a>
</li>
<li class="divider sidebar-divider-collections"></li>
<li class=" sidebar-li-created">
<a href="#">
<i class="fa fa-palette fa-fw sidebar-icon"></i>Designs
</a>
</li>
<li class=" sidebar-li-art">
<a href="#">
<i class="fa fa-paint-brush fa-fw sidebar-icon"></i>Art
</a>
</li>
<li class=" sidebar-li-literatures">
<a href="#">
<i class="fa fa-book fa-fw sidebar-icon"></i>Library
</a>
</li>
<li class="divider sidebar-divider-stats"></li>
<li class=" sidebar-li-comments">
<a href="#">
<i class="fa fa-comment fa-fw sidebar-icon"></i>0 Comments
</a>
</li>
<li class=" sidebar-li-stats">
<a href="#">
<i class="fa fa-chart-bar fa-fw sidebar-icon"></i>Stats
</a>
</li>
</ul>
</div>
<div class="col-sm-12 col-md-9 col-lg-10 content-main" id="content">
<div class="user-characters">
<div class="characters-header">
<div class="characters-folders-top">
<a href="#" class="btn btn-default btn-sm">
<i class="fi-arrow-left"></i> Back
</a>
<a href="#" class="btn btn-default btn-sm">
<i class="fi-folder"></i> View Unsorted
</a>
<a href="#" class="btn btn-default btn-sm">
<i class="fi-folder"></i> View All
</a>
</div>
<h1 class="characters-title">
<i class="fi-folder"></i>
Folder Name
</h1>
<hr>
</div>

<div class="characters-folder-description">
<div class="characters-folder-description-header">
<h4>
<i class="mr-1 fa fa-folder"></i>Folder Name
</h4>
</div>
<div class="characters-folder-description-content user-content fr-view ace-code-container">
</div>
</div>
<hr>
<div class="characters-filterby text-right">
    <span class="characters-order-text"><strong>Order by: </strong></span>
    <span class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="false" aria-expanded="false">
    Default
    </button>
    </span>
    <span class="characters-tags-text"><strong>Tags: </strong></span> <a href="#" class="characters-tags-view btn btn-default">
    Show
    </a>
    </div>
    
    <div class="user-characters-gallery characters-gallery">
        
        <div class="characters-gallery-pagination">
            <div class="pagination-wrapper">
                <ul class="pagination paginator-center">
                <li class="page-item disabled"><span class="page-link">«</span></li>
                <li class="page-item active"><span class="page-link">1</span></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item">
                <a class="page-link page-jumper-link" href="#">
                ...
                </a>
                <span class="page-jumper hide">
                 <small>Jump to Page</small>
                <input class="form-control page-jumper-input" name="" type="text" value="1">
                </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">99</a></li>
                <li class="page-item"><a class="page-link" href="#">100</a></li>
                <li class="page-item"><a class="page-link" href="#" rel="next">»</a></li>
                </ul>
            </div>
        </div>

        <div class="gallery-row">
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        <div class="text-center gallery-thumb character-thumb gallery-item">
            <div class="thumb-image">
            <a href="#" class="img-thumbnail">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
            </a>
            </div>
            <div class="thumb-caption">
                <span class="thumb-character-name"><a href="#" class="btn btn-sm btn-primary character-name-badge">Character Name</a></span>
                <div class="small thumb-character-stats text-center">
                <a href="#" class="hide">
                <span class="thumb-character-stat favorites favorited" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a href="#" class="">
                <span class="thumb-character-stat favorites" title="Favorites">
                <i class="fi-star"></i><span class="th-favorite-count">0</span>
                </span>
                </a>
                <a class="thumb-character-stat images" href="#" title="Images">
                <i class="fi-photo"></i>0
                </a>
                </div>
            </div>
        </div>
        
        </div>
        
        
        <div class="characters-gallery-pagination">
            <div class="pagination-wrapper">
                <ul class="pagination paginator-center">
                <li class="page-item disabled"><span class="page-link">«</span></li>
                <li class="page-item active"><span class="page-link">1</span></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item">
                <a class="page-link page-jumper-link" href="#">
                ...
                </a>
                <span class="page-jumper hide">
                 <small>Jump to Page</small>
                <input class="form-control page-jumper-input" name="" type="text" value="1">
                </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">99</a></li>
                <li class="page-item"><a class="page-link" href="#">100</a></li>
                <li class="page-item"><a class="page-link" href="#" rel="next">»</a></li>
                </ul>
            </div>
        </div>
        
        </div>
</div>
</div>
</div>
</div>