<div id="main" class="clearfix container-fluid main-container full-sidebar">
    <div class="row row-offcanvas row-offcanvas-left" data-sticky-wrap="" style="min-height: 647px;">
    <div class="col-md-3 col-lg-2 sidebar sidebar-offcanvas" id="sidebar">
    <ul class="side-nav list-unstyled">
    <li class="header"><i class="fi-web header-icon"></i>World</li>
    <li><span class="display-group"><a href="#"><img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">&nbsp;World Name</a></span></li>
    <li class="  sidebar-li-bulletins">
    <a href="#"><i class="fa fa-fw fa-newspaper sidebar-icon"></i>Bulletins</a>
    </li>
    <li class=" sidebar-li-characters">
    <a href="#"><i class="fa fa-fw fa-user sidebar-icon"></i>Characters</a>
    </li>
    <li class="  sidebar-li-forums">
    <a href="#"><i class="fa fa-fw fa-comments sidebar-icon"></i>Forums</a>
    </li>
    <li class=" sidebar-li-members">
    <a href="#"><i class="fa fa-fw fa-users sidebar-icon"></i>Members</a>
    </li>
    <li class="divider sidebar-divider-interaction"></li>
    <li class=" sidebar-li-comments">
    <a href="#">
    <i class="fa fa-fw fa-comment sidebar-icon"></i>Comments
    </a>
    </li>
    <li class="subheader subheader-margin world-functions-subheader">
    <a href="#">
    <i class="fa fa-wrench sidebar-icon"></i>World Functions
    </a>
    </li>
    <li class="sidebar-li-submit-character">
    <a href="#">
    <i class="fa fa-fw fa-plus sidebar-icon"></i>Submit Character
    </a>
    </li>
    <li class="divider sidebar-divider-manage"></li>
    <li class="subnavigation-header    ">
    <a href="#" class="subnavigation-header-link">
    Mod Panel
    <span class="subnavigation-header-icon fa fa-caret-right subnavigation-header-icon-closed"></span>
    <span class="subnavigation-header-icon fa fa-caret-down subnavigation-header-icon-open"></span>
    </a>
    <ul>
    <li class=" sidebar-li-inbox">
    <a href="#">
    <i class="fa fa-fw fa-envelope sidebar-icon"></i>Inbox (0)
    </a>
    </li>
    <li class=" sidebar-li-create-bulletin">
    <a href="#">
    <i class="fa fa-fw fa-newspaper sidebar-icon"></i>Create Bulletin
    </a>
    </li>
    <li class=" sidebar-li-edit-characters">
    <a href="#">
    <i class="fa fa-fw fa-user-cog sidebar-icon"></i>Manage Characters
    </a>
    </li>
    <li class=" sidebar-li-edit-members">
    <a href="#">
    <i class="fa fa-fw fa-users-cog sidebar-icon"></i>Manage Members
    </a>
    </li>
    </ul>
    </li>
    <li class="divider sidebar-divider-mod"></li>
    <li class="subnavigation-header      ">
    <a href="#" class="subnavigation-header-link">
    Admin Panel
    <span class="subnavigation-header-icon fa fa-caret-right subnavigation-header-icon-closed"></span>
    <span class="subnavigation-header-icon fa fa-caret-down subnavigation-header-icon-open"></span>
    </a>
    <ul>
    <li class=" sidebar-li-folders">
    <a href="#">
    <i class="fa fa-fw fa-folder sidebar-icon"></i>Manage Folders
    </a>
    </li>
    <li class=" sidebar-li-edit-pages">
    <a href="#">
    <i class="fa fa-fw fa-file sidebar-icon"></i>Manage Pages
    </a>
    </li>
    <li class=" sidebar-li-edit-forums">
    <a href="#">
    <i class="fa fa-fw fa-comments sidebar-icon"></i>Manage Forums
    </a>
    </li>
    <li class=" sidebar-li-edit-world">
    <a href="#">
    <i class="fa fa-fw fa-pencil sidebar-icon"></i>Manage World
    </a>
    </li>
    <li class=" sidebar-li-edit-world">
    <a href="#">
    <i class="fa fa-fw fa-image sidebar-icon"></i>Manage Avatar
    </a>
    </li>
    <li class=" sidebar-li-settings">
    <a href="#">
    <i class="fa fa-fw fa-wrench sidebar-icon"></i>World Settings
    </a>
    </li>
    </ul>
    </li>
    <li class="divider sidebar-divider-admin"></li>
    </ul>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-10 content-main" id="content">
    <div class="group-profile">
    
    <div class="profile-section profile-name-section">
    <div class="img-thumbnail">
    <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6" class="profile-name-icon">
    </div>
    <div class="profile-name-info">
    <h1 class="display-4"><a href="#"><i class="fa fa-globe"></i>&nbsp;World Name</a></h1>
     </div>
    </div>
    
    <div class="row">
    <div class="col-lg-12">
    <div class="col-12 profile-section profile-content-section user-content fr-view ace-code-container">
    </div> </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div class="profile-section profile-posts-section">
    <div class="profile-posts-header">
    <h1 class="profile-posts-title">Recent Forum Activity</h1>
    <hr>
    </div>
    <div class="forum-view-table-wrapper">
    <table class="forum-view-table table table-hover table-striped">
    <tbody>
    <tr class="row forum-thread-row ">
    <td class="col-6">
    <h3 class="forum-thread-title">
    <a href="#">
    Test
    </a>
    </h3>
    <div class="forum-thread-info small">
    Posted by <span class="display-user"><a href="#"><i class="fi-torso user-name-icon"></i>User</a></span> <abbr class="tooltipster datetime" title="" data-original-title="1 Jan 1900, 0:00:00 am">0 months, 0 day ago</abbr>
    in <a href="#">Forum Name</a> </div>
    </td>
    <td class="col-2">
        <div class="forum-thread-posts">0 Posts</div>
    </td>
    <td class="col-4">
    <div class="forum-last-update">
    <div class="forum-last-update-content">
    <div class="forum-last-update-image">
    <img src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6">
    </div>
    <div class="forum-last-update-info">
    <div class="forum-last-update-date">
    <a href="#"> <abbr class="tooltipster datetime" title="" data-original-title="1 Jan 1900, 0:00:00 am">0 months, 0 day ago</abbr></a>
    </div>
    <div class="forum-last-update-author">
    <span class="display-user"><a href="#"><i class="fi-torso user-name-icon"></i>User</a></span>
    </div>
    </div>
    </div>
    </div> </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>