<div id="main" class="clearfix container-fluid main-container full-sidebar">
    <div class="row row-offcanvas row-offcanvas-left" data-sticky-wrap>
        <div class="col-md-3 col-lg-2 sidebar sidebar-offcanvas" id="sidebar">
            <ul class="side-nav list-unstyled">
                <li class="header"><i class="fi-web header-icon"></i>World</li>
                <li><span class="display-group"><a href="#"><img
                                src="https://f2.toyhou.se/file/f2-toyhou-se/users/admin?6" />&nbsp;World name</a></span>
                </li>
                <li class="blurb user-content fr-view ace-code-container-2">
                </li>
                <li class=" sidebar-li-bulletins" style="padding-left: 0rem">
                    <a href="#">
                        <i class="fa fa-newspaper fa-fw mr-1"></i>
                        Bulletins
                    </a>
                </li>
                <li class=" sidebar-li-characters" style="padding-left: 0rem">
                    <a href="#">
                        <i class="fa fa-user fa-fw mr-1"></i>
                        Characters
                    </a>
                </li>
                <li class=" sidebar-li-forums" style="padding-left: 0rem">
                    <a href="#">
                        <i class="fa fa-comments fa-fw mr-1"></i>
                        Forums
                    </a>
                </li>
                <li class=" sidebar-li-members" style="padding-left: 0rem">
                    <a href="#">
                        <i class="fa fa-users fa-fw mr-1"></i>
                        Members
                    </a>
                </li>
                <li class="divider sidebar-divider-interaction"></li>
                <li class=" sidebar-li-comments" style="padding-left: 0rem">
                    <a href="#">
                        <i class="fa fa-comment fa-fw mr-1"></i>
                        0 Comments
                    </a>
                </li>
                <li class="subheader subheader-margin world-pages-subheader">
                    <a href="#">
                        <i class="fa fa-file sidebar-icon"></i> World Pages
                    </a>
                </li>
                <li class="active sidebar-li-page" style="padding-left: 0rem">
                    <a href="#">
                    Page title
                    </a>
                </li>
                <li class="sidebar-li-page" style="padding-left: 0rem">
                    <a href="#">
                    Page title 2
                    </a>
                </li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 content-main" id="content">
            <div class="group-page">
                <div class="group-page-header">
                    <h1>Page title</h1>
                    <hr />
                </div>
                <div class="group-page-content user-content fr-view ace-code-container">
                </div>
            </div>
        </div>
    </div>
</div>